html, body {
  text-align: left;
  margin: 0;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  font-family: sans-serif;
  font-size-adjust: 0.58;
  background: #f4f1cc;
}

h1 {
  font-family: 'Century Gothic';
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: bold;
  color: #52403b;
  text-transform: uppercase;
}

h2 {
  font-family: 'Century Gothic';
  font-size: 10px;
  letter-spacing: 5px;
  font-weight: bold;
  color: #2c4937;
  text-transform: uppercase;
}

#content {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  height: auto;
}

#content2 {
  margin-left: auto;
  margin-right: auto;
}

.table {
	display: table;
	margin: 0 auto;
}

/* Dropdown Button */
.dropbtn {
    width: 200px;
    background-color: #ff7474;
    color: #666666;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 200px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #817E9F;
    padding: 9px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ffc0c0;
  color: #FFFFFF;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #bfafaf;
}

input[type=radio]{
  margin-right: 10px;
  margin-left: 40px;
}

input[type=text] {
    padding:5px;
    border:2px solid #ccc;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

input[type=text]:focus {
    border-color:#333;
}

input[type=submit] {
    padding:5px 15px;
    background:#ccc;
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

#logo {
  width: 10%;
  height:20%;
}
