{% extends "base.html" %}

{% block title %} Add Upcoming Assignment {% endblock}

{% block body %}
  <h2>Add Upcoming Assignment</h2>
<!-- 
  <form action="{{ url_for('course_created') }}" method="post">
    Name:
    <input type=text name=name>
    Course:
    <input type=text name=course>
    Category:
      <form>
        <input type="radio" name="heirarchy" value="quiz">Quiz<br>
        <input type="radio" name="heirarchy" value="homework">Homework<br>
        <input type="radio" name="heirarchy" value="lab">Lab</br>
        <input type="radio" name="heirarchy" value="test">Test</br>
      </form>
    Deadline (mm/dd/yy):
      <input type=text name=deadline>
  </form> -->
{% endblock %}
