<!DOCTYPE html>

<html lang-"en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | EduTize</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
  </head>

    <body>
    <div id ="logo"><img src="\static\img\EduTizeFinalLogo.svg"></div>

<center>

<div id ="menu-outer">
  <div class="table">

    <div class="dropdown">
    <button onclick="location.href='index'" class="dropbtn">Home</button>
    </div>
<!--
  <ul>
    <li><a href="/index">Home</a></li>
  </ul>-->
    <!-- for adding course (two options: complete, incomplete)-->
    <div class="dropdown">
      <button class="dropbtn">Add Course</button>
      <div class="dropdown-content">
          <a href="/completed-course">Completed Course</a>
          <a href="/new-course">New Course</a>
      </div>
    </div>

    <!--for  adding tasks (two options: complete, incomplete) -->

    <div class="dropdown">
        <button class="dropbtn">Add Task</button>
        <div class="dropdown-content">
            <a href="/completed-task">Completed Task</a>
            <a href="/new-course">New Task</a>
          </div>
        </div>

</div>
</div>
</center>
    <hr>

    {% block body %}{% endblock %}
  </body>
</html>
