<!DOCTYPE html>

<html lang-"en">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | EduTize</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }} ">
  </head>

    <body>
      <center>
    <div id ="logo"><img src="\static\img\logo.png" width = "150" height="150"></div>


<div id ="menu-outer">
  <div class="table">

    <div class="dropdown">
    <button onclick="location.href='index'" class="dropbtn">Home</button>
    </div>

    <div class="dropdown">
      <button class="dropbtn">Add Course</button>
      <div class="dropdown-content">
          <a href="completed-course">Completed Course</a>
          <a href="new-course">New Course</a>
      </div>
    </div>

    <!--for  adding tasks (two options: complete, incomplete) -->

    <div class="dropdown">
        <button class="dropbtn">Add Task</button>
        <div class="dropdown-content">
            <a href="completed-task">Completed Task</a>
            <a href="new-task">New Task</a>
          </div>
        </div>

</div>
</div>
</center>
<p></p>

    {% block body %}{% endblock %}
  </body>
</html>
