{% extends "base.html" %}

{% block title %} Add Completed Task {% endblock %}

{% block body %}

<form action="completed-task" method="POST">
  NAME OF ASSIGNMENT: <input type="text" name="taskName"><br>
  COURSE: <input type="text" name="course">
  <br>
  TYPE OF ASSIGNMENT:<br>
  <input type="radio" name="category" value="quiz">Quiz<br>
  <input type="radio" name="category" value="homework">Homework<br>
  <input type="radio" name="category" value="lab">Lab<br>
  <input type="radio" name="category" value="test">Test<br>

  <br>
  GRADE (OUT 100): <input type="text" name="grade">
  <br>

  <input type="submit" value="Submit">
</form>

{% endblock %}
