
	{% extends "base.html" %}

	{% block title %} Home {% endblock %}

	{% block body %}
	<div id= "content">

	<!--1 table, 2 columns;-->

	<table width="100%">
		<tr>
			<td class ="ranking">
				1
			</td>
			<td class = "assignment"> Assignment: hw1<br>Course: calculus<br>Category: homework<br>Deadline: 03/01/16

			</td>
		</tr>

		<tr>
			<td class ="ranking">
				2
			</td>
			<td class = "assignment"> Assignment: hw2<br>Course: calculus<br>Category: homework<br>Deadline: 03/01/16

			</td>
		</tr>

		<tr>
			<td class ="ranking">
				3
			</td>
			<td class = "assignment"> Assignment: hw3<br>Course: calculus<br>Category: homework<br>Deadline: 03//02/16

			</td>
		</tr>

	</table>

	</div>
	{% endblock %}