{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block body %}
<div id= "content">

<!--1 table, 2 columns;-->

<table width="100%">
	<tr>
		<td class ="ranking">
			1
		</td>
		<td class = "assignment">
			<!--insert assignment name--><br>
			<!--insert course name--><br>
			<!--insert type --><br>
			<!--insert due date-->
		</td>
	</tr>

	<tr>
		<td class ="ranking">
			2
		</td>
		<td class = "assignment">
			<!--insert assignment name--><br>
			<!--insert course name--><br>
			<!--insert type --><br>
			<!--insert due date-->
		</td>
	</tr>

	<tr>
		<td class ="ranking">
			3
		</td>
		<td class = "assignment">
			<!--insert assignment name--><br>
			<!--insert course name--><br>
			<!--insert type --><br>
			<!--insert due date-->
		</td>
	</tr>


</table>




</div>
{% endblock %}