{% extends "base.html" %}

{% block title %} Confirming Task {% endblock %}

{% block body %}
<div id= "content">
<h1>Your task has been recorded!</h2>
<h2>Name:</h2><!--name_of_task-->
<h2>Course:</h2><!-- course -->
<h2>Type:</h2><!--type of task-->
<h2>Grade:</h2><!--grade-->
<form>
  <table width= "100%">

  <tr>

    <td>
      <h1>Name of Task</h1> <input type="text" name="taskName">
    </td>

    <td>
      <h1>Course</h1> <input type="text" name="course">
    </td>

  </tr>
</table>

<h1>Type of Task</h1>
    <span>
      <input type="radio" name="category" value="quiz">Quiz
      <input type="radio" name="category" value="homework">Homework
      <input type="radio" name="category" value="lab">Lab
      <input type="radio" name="category" value="test">Test
    </span>

<h1>Grade (out of 100)</h1>
      <input type="text" name="grade">
<p></p>
<center>
  <input type="submit" value="Submit">
</center>
</form>

</div>

{% endblock %}
